<div id="<%= dom_id symptom %>">
  <p>
    <strong>Title:</strong>
    <%= symptom.title %>
  </p>

  <p>
    <strong>Description:</strong>
    <%= symptom.description %>
  </p>

  <p>
    <strong>Start date:</strong>
    <%= symptom.start_date %>
  </p>

  <p>
    <strong>Severity:</strong>
    <%= symptom.severity %>
  </p>

</div>
