<%= polaris_modal(id: "destroy-modal", title: t(".title")) do |modal| %>
  <%= polaris_text_container do %>
    <p><%= t(".message_html") %></p>
  <% end %>

  <% modal.primary_action(
    destructive: true,
    url: url,
    data: {turbo_method: :delete},
  ) do %>
    <%= t("actions.delete") %>
  <% end %>
  <% modal.secondary_action(data: {action: "polaris-modal#close"}) do %>
    <%= t("actions.cancel") %>
  <% end %>
<% end %>
