<!DOCTYPE html>
<html>
  <head>
    <title>MS+you | <%= it("Symptoms tracker for people with Multiple Sclerosis") %></title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
<link rel="icon" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 100 100%22><text y=%22.9em%22 font-size=%2290%22>❤️</text></svg>">
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
    <%= stylesheet_link_tag "polaris_view_components" %>
    <%= hotwire_livereload_tags if Rails.env.development? %>

    <meta name="turbo-cache-control" content="no-cache">
  </head>

  <body style="<%= polaris_body_styles %>">
    <%= polaris_frame(
      logo: {
        url: "/",
        src: image_path("logo.svg"),
        width: "128px"
      }
    ) do |frame| %>
      <%= render "layouts/frame/top_bar", frame: frame %>
      <%= render "layouts/frame/navigation", frame: frame %>
      <%= render "layouts/frame/toasts", frame: frame %>

      <%= yield %>

      <%= polaris_footer_help do %>
        <%= it("Made with love by") %> <%= polaris_link(url: "https://www.forsbergplustwo.com", external: true) { "FORSBERG+two" } %>
      <% end %>

      <%= render "modals/destroy", id: "destroy-account-modal", url: delete_user_path(current_user) if current_user&.id.present? %>

    <% end %>
  </body>
</html>
